<!DOCTYPE html>
<html>
  <head>
    <title>TeamweekNov2022Bookbay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <% if current_user %>

      <details> 
        <summary> Your Cart </summary>
        <% @cart.each do |book| %>
        <ul>
          <li><%= book.title %></li>
          <li><%= book.price %></li>
        </ul>
        <% end %>
        <p> Total:  <% Book.where(id: [id].sum(:price))%></p>
      </details>

      <%= button_to "Log out",
      destroy_user_session_path(@user),
      method: :delete %>

    <% else %> 

      <p>Sign in to add items to your cart!</p>
      <%= button_to "Sign in",
      new_user_session_path,
      method: :get  %>

    <% end %>

    <%= yield %>

    <p> You have visit this site <%= pluralize @visit_count, 'time'%></p> 
  </body>
</html>
