<!DOCTYPE html>
<html>
  <head>
    <title>Bookbay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"><%# <%= csrf_meta_tags %><%= csp_meta_tag %><%= stylesheet_link_tag "application", "data-turbo-track": "reload" %><%= javascript_importmap_tags %>
  </head>
  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="columns">
          <div class="column is-half">
            <h1 class="title is-1">BookBay</h1>
          </div>
            <% if current_user %> 
            <div class = "column">
              <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                  <li><p>Welcome, <%= current_user.email %> !</p></li>
                  <li><p>Wallet Balance: $<%= number_with_precision current_user.wallet_balance, precision: 2  %></p></li>
                  <li><%= link_to "Sell",new_book_path, method: :get %> 
                  </li>
                  <li><%= button_to "Log out",destroy_user_session_path(@user),method: :delete %></li>
                </ul>
              </nav>
            </div>
            <% else %>
                <nav class="breadcrumb" aria-label="breadcrumbs">
                  <li><p>Sign in/Sign up to add items to your cart or leave reviews!</p></li>
                  <li><%= link_to "Sign in",new_user_session_path, method: :get  %></li>
                  <%= link_to "Sign up", new_user_registration_path, method: :get  %></li>
                </nav>
            <% end %>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section><%= flash[:alert] %><%= flash[:notice] %><%= yield %> <p> You have visited this site <%= pluralize @visit_count, 'time'%> </p>
  </body>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Bulma</strong> by <a href="https://jgthms.com">Paul Srisawat</a>. The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>
</html>
