<!DOCTYPE html>
<html>
  <head>
    <title>TeamweekNov2022Bookbay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  
    <% if current_user %>
      <%= button_to "Cart" %>
    <% end %> 

    <% if current_user %>
      <%= button_to "Log out",
      destroy_user_session_path(@user),
      method: :delete %>
    <% else %> 
      <%= button_to "Sign in",
      new_user_session_path,
      method: :get  %>
    <% end %>

    <%= yield %>

    <p> You have visit this site <%= pluralize @visit_count, 'time'%></p> 
  </body>
</html>
